@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply select-none overflow-x-hidden;
}


.font{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary-white {
  @apply p-1.5 px-3 border border-white transition-all hover:bg-white hover:text-black;
}

.btn-primary-black {
  @apply p-1.5 px-3 border border-white bg-white transition-all hover:bg-transparent text-black hover:text-white;
}

.btn-primary-black-outline {
  @apply p-1.5 px-3 border border-black bg-black text-white transition-all hover:bg-transparent hover:text-black;
}

.btn-primary-white-outline {
  @apply p-1.5 px-3 border border-white bg-white text-black transition-all hover:bg-transparent hover:text-white;
}
